.tb{ /*내용 조회 테이블 자체*/
    border-spacing: 0px;
    padding-left:10px;
    padding-top:5px;
}

.td{ /*제목, 작성자, 작성일, 내용 필드 각각에 관련한 컨텐츠 박스 크기.*/
    width:600px;
    height:50px;
    background-color:rgb(207, 201, 201);
}
.td_title{  /*제목, 작성자, 작성일, 내용의 필드 박스 크기*/
    text-align:center;
    font-size:15;
    width:50px;
    height:10px;
    background-color:rgb(43, 194, 43);
}

.btn2{
    background-color:white;
    position:absolute;
    top:10px;
    left : 93%; 
    width:70px;
    height:30px;
    border-width:3px;
}

.btn3{
    background-color:white;
    position:absolute;
    top:50px;
    left : 93%; 
    width:70px;
    height:30px;
    border-width:3px;
}


