.modal{
    position:fixed;
    height:100px;
    min-width:600px;
    top:34%;
    left:30%;
    border: 2px solid rebeccapurple;
    border-radius: 2px;
    background:white;
}

.goodButton{
    margin: 10px;
    width:90px;
    font-size:20px;
    height: 40px;
    border-radius:4px;
    color:white;
    background-color: rebeccapurple;
   
}

.buttonDiv{
    width:100%;
    text-align:right;
}

.badButton{
    margin-top:5px;
    width:90px;
    font-size:20px;
    height:40px;
    border-radius:4px;
    color:white;
    background-color:red;

}