.td_title{  /*제목, 작성자, 작성일, 내용의 필드 박스 크기*/
    text-align:center;
    font-size:15;
    width:50px;
    height:10px;
    background-color:rgb(43, 194, 43);
}

.tt{ /*제목, 작성자, 작성일, 내용 필드 각각에 관련한 컨텐츠 박스 크기*/
    width:600px;
    height:50px;
    font-size:1.2em;
    resize:none;
    vertical-align:middle;
    background-color:rgb(207, 201, 201);
}

.tt_auth{ /*제목, 작성자, 작성일, 내용 필드 각각에 관련한 컨텐츠 박스 크기*/
    width:600px;
    height:50px;
    font-size:1.2em;
    resize:none;
    vertical-align:middle;
    background-color:rgb(207, 201, 201);
}


.tt_cont{ /*제목, 작성자, 작성일, 내용 필드 각각에 관련한 컨텐츠 박스 크기*/
    width:600px;
    height:140px;
    font-size:1.2em;
    resize:none;
    background-color:rgb(207, 201, 201);
}

.btn2{
    background-color:white;
    position:absolute;
    top:20px;
    left : 93%; 
    width:70px;
    height:30px;
    border-width:3px;
}