/*background*/
.background{
  width:100%;
  height:auto;
  background-image:url('korean-flag.jpg');
  background-size:85%;
  background-repeat: no-repeat;
  background-position: 99% 10%;
  
}

/*sideBar*/
.sideBar{
  background-image: url('color.png');
  float: left;
  width:300px;
  height: 100%;
  text-align:center;
  line-height: 120px;
}

/*sideBarFont*/
.sideBarFont{
  color:white;
  text-decoration: none;
  font-size:20px;
  vertical-align: bottom;
  padding-top: 200px;
}


/*dashBoard*/
.dashBoard{
  height:100vh;
  background-position: center;
}

/*logo*/
.logo {
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  vertical-align: center;
  padding : 40px;
  padding-top: 90px;
}

a:link{
  color:white;
  text-decoration: none;
}

a:visited{
  color:white;
  text-decoration: none;
}

a:hover{
  color:white;
  text-decoration: none;
}

a:active{
  color:white;
  text-decoration: none;
}