.btn{
    border:3;
    border-radius: 10px;
    display:inline-block;/*각 컴포넌트들을 가로로 1오로 정렬*/
    cursor:pointer;/*마우스를 가져다 대면 마우스 표시가 누름표시로 바뀜*/
    padding: 80px 60px 80px 60px; /*top, right, bottom, left*/
    top:50%;
    margin-top:-25px;
    height: 10px;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px black;
    color:white;
    text-align:center;
    background-image: url('color.png');
    position: relative;
    margin-left:70px;
}


